.component {
  max-width: 63.5rem;
  margin: 16.4rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 81, 171, 0.148847);
  overflow: hidden;

  @include respond(phone) {
    grid-template-columns: 1fr;
    max-width: 31.1rem;
    margin: 7.2rem auto 6.2rem auto;
  }

  &__header {
    grid-column: 1 / -1;
    padding: 4rem;

    @include respond(phone) {
      padding: 2.8rem 2.4rem 3.2rem 2.4rem;
    }
    &--headline {
      color: $color-primary-cyan;
      margin-bottom: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
        line-height: 2.3rem;
        letter-spacing: -0.25px;
      }
    }
    &--subheadline {
      color: $color-primary-yellow;
      margin-bottom: 1.1rem;

      @include respond(phone) {
        margin-bottom: 1.6rem;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: -0.1875px;
      }
    }
    &--text {
      color: $color-grayish-blue;

      @include respond(phone) {
        font-size: 1.4rem;
        letter-spacing: -0.175px;
      }
    }
  }

  &__price {
    padding: 4rem;
    background-color: $color-primary-cyan;
    color: white;

    @include respond(phone) {
      padding: 2.4rem;
    }

    &--headline {
      margin-bottom: 1.8rem;
    }
    &--pricing {
      display: flex;
      align-items: center;
      gap: 1.1rem;
      & p {
        opacity: 0.5;
      }
      & span {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 3.7rem;
        letter-spacing: -0.4px;
        opacity: 1;
        margin-bottom: 0.4rem;
      }
    }
    &--text {
      margin-bottom: 2.6rem;
    }
    &--signup {
      color: white;
      background-color: $color-primary-yellow;
      border: none;
      width: 23.7rem;
      height: 4.8rem;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.9rem;
      border-radius: 0.5rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.0973011);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: rgb(205, 224, 118);
      }

      @include respond(phone) {
        width: 26.3rem;
      }
    }
  }
  &__why-us {
    background-color: rgba(42, 178, 175, 0.85);
    mix-blend-mode: normal;
    padding: 4rem;
    color: white;

    @include respond(phone) {
      padding: 2.4rem;
    }

    &--headline {
      margin-bottom: 1.8rem;
    }
    &--text {
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: -0.175px;
      opacity: 0.75;
    }
  }
}
